:root {
	--back: hsla(150, 50%, 30%, 1);
  --back2: hsla(150, 50%, 30%, .5);
  --foredark: hsla(0,0%,10%,1);
	--forelight: hsla(0,0%,100%,1);
	--border: hsla(0,0%,20%,.8);
	--borderlight: hsla(0,0%,33%,.3);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}

body {
	font-family: "EB Garamond", Arial, serif;
    padding: 5%;
}

table {
	width: 400px;
    margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

caption {
    padding: 0.2rem;
    caption-side: bottom;
	color: black;
	font-size: smaller;
}

tr:first-child th, .highlight {
	background-color: black;
	color: white;
}

th, td {
	padding: 0.5em 1rem;
	border: 1px solid var(--borderlight);
    white-space: pre;
}

th {
	background-color: var(--back2);
	font-size: larger;
    padding: 1rem;
    font-size: larger;
}

thead {
    color: white;
    background-color: black;
}

td {
	text-align: center;
}

tbody tr:nth-child(odd) {
	background-color: var(--zebra);
}

.blank {
    background-color: black;
}

.grey {
    background-color: rgb(66, 63, 63);
}
