:root {
    --primary-color: #b61111;
    --secondary-color: #ffffff;
    --accent1-color: #636060;
    --accent2-color: #b0e278;
    --accent3-color: #b942a7;
    --main-font: "Kanit";
    --secondary-font: "Orbitron";
    --nav-background-color: #ffddd2;
    --nav-link-color: #0b2f44;
    --nav-hover-link-color: #9e928f;
    --nav-hover-background-color: #78e2b6;
}

body {
    width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    display: block;
}

header {
    display: block;
    text-align: center;
    width: auto;
    padding: 20px 0 0 0;
    background-color: #78e2b6;
}

header h1 {
    display: inline-flex;
    margin-bottom: 50px;
}

h1,
h2,
h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

h1 {
    font-size: 2em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

header nav {
    display: flex;
    background-color: #4A4E69;
    justify-content: space-around;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    width: auto;
    font-size: 1.2rem;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    display: grid;
    gap: 10px;
    padding: 5px;
    grid-auto-rows: 4fr 1fr;
    grid-auto-columns: 3fr 1fr;
    max-width: fit-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.card1 {
    grid-column: 1/5;
    grid-row: 1/4;
    background-color: #78e2b6;
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: 1fr 2fr;
    gap: 5px;
    border: solid 2px #4A4E69;
    border-radius: 10px;
}

header h2 {
    color: #78e2b6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.card1>h2 {
    grid-row: 1;
    grid-column: 1 / 3;
    text-align: center;
    background-color: #4A4E69;
    margin: 0;
}

#mepic {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    width: 200px;
    height: auto;
    border: 2px solid var(--primary-color);
    padding: 1px;
    box-shadow: 0 0 30px #4A4E69;
    margin-top: 1px;
}

img {
    overflow: auto;
}

#aboutme {
    padding-left: 20px;
    grid-column: 1;
    grid-row: 2;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #4A4E69;
}

.card1 h3 {
    grid-row: 3;
    grid-column: 1/3;
    background-color: #4A4E69;
    margin: 0;
    text-align: center;
}

h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    unicode-bidi: isolate;
}

figcaption {
    display: block;
    unicode-bidi: isolate;
    color: #4A4E69;
}

#aboutcalifornia {
    padding-right: 20px;
}

.card2 {
    padding: 10px;
    grid-column: 5;
    grid-row: 1/4;
    border: solid 2px #4A4E69;
    text-align: center;
    background-color: #78e2b6;
    border-radius: 10px;
}

.card2 h2 {
    color: #ffffff;
}

.card2 nav {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #4A4E69;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    padding: 5px;
}

footer p {
    color: #ffffff;
}