:root {
    --primary-color: #b61111;
    --secondary-color: #1e36cf;
    --accent1-color: #C9ADA7;
    --accent2-color: #e29578;
    --accent3-color: #9A8C98;
    --main-font: "Kanit";
    --secondary-font: "Orbitron";
    --nav-background-color: #ffddd2;
    --nav-link-color: #4A4E69;
    --nav-hover-link-color: #ffddd2;
    --nav-hover-background-color: #78e2b6;
}

body {
    width: 900px;
    margin: auto;
    background-color: #9A8C98;
}

header {
    display: block;
    text-align: center;
    width: auto;
    padding: 20px;
    background-color: #78e2b6;
}

header h1 {
    display: inline-flex;
    margin-bottom: 50px;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

h1 {
    font-size: 2em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

header nav {
    display: flex;
    background-color: #78e2b6;
    justify-content: space-around;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 1rem;
    width: auto;
    font-size: 1.2rem;
}

a {
    font-family: var(--main-font);
}

main {
    display: grid;
    gap: 20px;
    padding: 10px;
    grid-auto-rows: 4fr 1fr;
    grid-auto-columns: 3rf 1fr;
    max-width: fit-content;
    font-family: var(--secondary-font);
}

section {
    display: block;
    unicode-bidi: isolate;
}

.card1 {
    grid-column: 1/5;
    grid-row: 1/4;
    background-color: #e29578;
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: 1fr 2fr;
    gap: 5px;
    border: solid 3px var(--main-font);
}

h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.card1 h2 {
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
    background-color: var(--primary-color);
}

#mepic {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

img {
    overflow: clip;
}

#aboutme {
    pad: 20px;
    grid-column: 1;
    grid-row: 2;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.card1 h3 {
    grid-row: 3;
    grid-column: 1/3;
    background-color: #78e2b6;
    margin: 0;
    text-align: center;
}

h3 {
    display: block;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    unicode-bidi: isolate;
}

figcaption {
    display: block;
    unicode-bidi: isolate;
}

#aboutcalifornia {
    padding-right: 20px;
}

.card2 {
    padding: 10px;
    grid-column: 5;
    grid-row: 1/4;
    border: solid 2px var(--secondary-color);
    text-align: center;
    background-color: #78e2b6;
}

.card2 h2 {
    color: #4A4E69;
}

.card2 nav {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #9A8C98;
    text-align: center;
    font-family: var(--main-font);
    color: #b61111;
}


